@model IEnumerable<NomNomScratch.Models.MainCourse>

@{
    Layout = "~/Views/MainCourseEditLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainCourseShow</title>
</head>
<style>

    div.third {
        opacity: 0.6;
    }



    body {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('/images/mainCourseAdmin.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      
    }
</style>





<div>




    <table class="table table-striped table-hover ">

        <tr>

            <td>
                <h2>Main Course List</h2>
            </td>

        </tr>




</div>



<p style="color:white">
    .
</p>



<div>

    <table class="table table-striped  float-left">
        <thead class="thead-dark">



            <tr>
                <th>
                   ID
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>






            @foreach (var item in Model)
            {
        <tr class=" table table-striped table-hover table-active">
            <td style="width:150px">

                @Html.DisplayFor(modelItem => item.MfID)
            </td>

            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>


            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <button class=" btn btn-dark ">
                    @Html.ActionLink("Edit", "MainCourseEdit", new { id = item.MfID }, new { @style = "color:#FFFFFF;" })

                </button>



                <button class=" btn btn-danger">
                    @Html.ActionLink("Delete", "MainCourseDelete", new { id = item.MfID }, new { @style = "color:#FFFFFF;" })

                </button>
            </td>
        </tr>
            }
        </thead>
    </table>





</div>



<div class="float-right">


    <a href="~/BookFood/dashboard" class="btn btn-dark">Back</a>

</div>

<div class="float-left">





        <a href="~/BookFood/MainCourseAdd" class="btn btn-dark">Add item</a>

      





</div>
<br>



</body>
</html>